
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>Trabajo Practico de HTML</h1>

        <h2>Ejercicios</h2>

        <ul>
            <li>
                <a href="/Producto/Index" >Gestión de Productos</a>
            </li>
        </ul>

    </div>
</body>
</html>
