@{
    ViewBag.Title = "Introducción a Java Script";
}

<h3 id="output"></h3>

@section scripts
{

    <script src="/scripts/utils.js"></script>

    <script id='script' src="/scripts/demo.js"></script>
}

