@{
    ViewBag.Title = "Index";
}

<div>
    <h1 title="LPPA">
        Lenguajes de Programación Para la Administración - JavaScript
    </h1>
    <p class="specialMargin">
        Los lenguajes de script en las páginas web de cliente: capacitan la ejecución de
        llamadas a los objetos creados por DOM, y permiten, por tanto, la creación de páginas
        ricas en contenido dinámico, que son capaces de responder a las necesidades actuales
        de programación, aportando recursos multimedia, estilos dinámicos, capacidad de
        cálculo, etc.
    </p>
    <p class="specialMargin">
        También hemos comentado que, dentro de los lenguajes de script más populares, JavaScript
        ocupa un puesto destacado debido a su portabilidad y a su soporte por parte de los
        navegadores más populares del mercado: Internet Explorer, Netscape Navigator y Opera.
        Esto, unido al hecho de que JavaScript sea también un estándar, hacen de este lenguaje
        el candidato idóneo para la construcción de páginas dinámicas de cliente.
    </p>
</div>
<hr />
<div id="main">
    <h1>
        Agenda
    </h1>
    <ul>
        <li><a href="#historia">Historia</a></li>
        <li><a href="#definición">Definición de JavaScript</a></li>
        <li><a href="#objetivo">Objetivo de la Materia</a></li>
    </ul>
</div>
<hr />
<div>
    <h1 id="historia">
        Historia
    </h1>
    <p>
        El desarrollo de éste estándar comenzó en Noviembre de 1996. La primera edición
        del estándar ECMA fue adoptado por la Asamblea General de ECMA en Junio de 1997.
        Dicho estándar aprobado como estándar internacional ISO/IEC 16262. El ECMA de Junio
        de 1998, aprobó la 2da. edición de ECMA-262, en diciembre del 1999 la 3ra. publicación
        fue aprobada, para mantenerla totalmente en conformidad con el ISO/IEC 16262.
    </p>
    <p>
    </p>
    <a href="#top">Volver al principio</a>
    <hr />
    <h1 id="definición">
        Definición de Java script
    </h1>
    <p>
        Juan Carlos Orós: Es un lenguaje orientado a objetos, diseñado para el desarrollo
        de aplicaciones cliente-servidor a través de internet.
    </p>
    <p>
        ECMA-262: Es un lenguaje basado en objetos. Los objetos son simplemente colecciones
        de parejas de nombres/valores.
    </p>
    <p>
    </p>
    <a href="#top">Volver al principio</a>
</div>
<hr />
<div>
    <h1 id="objetivo">
        Objetivo de la Materia
    </h1>
    <p>
        El objetivo final de esta materia es que el alumno comprenda y logre distinguir
        las ventajas de incorporar a sus herramientas profesionales el paradigma de Objetos
        a fin de encarar la solución a la problemática del área de sistemas con elementos
        acordes a la realidad actual. Que identifique los elementos constitutivos de un
        objeto sus propiedades y características, para construir clases y adoptar la notación
        apropiada para los diagramas de este tipo Que le permita construir bibliotecas de
        clases y utilice las tecnologías de ingeniería del software para la producción de
        sistemas de información. Que infiera acerca de los procesos que permiten construir
        software de calidad con eficiencia y eficacia optimizando los procesos de tomas
        de decisión en el planeamiento del elemento a desarrollar.
    </p>
    <a href="#top">Volver al principio</a>
</div>


